@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,800;1,800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* ROOT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* CALCULA EL ALTO Y ANCHO DEL ELEMENTO DEPENDIENTO EL ALTO Y ANCHO DEL HIJO SIN CONTAR MARGIN Y PADDING */
    font-family: 'Poppins', sans-serif; /* ESTABLECE EL FONT FAMILY DE TODA LA PAGINA */
}

body {
    font-family: "Open Sans", sans-serif;
    background: #37517e;
  }

.box {
  width: 420px;
  background: transparent; /* FONDO TRANSPARENTE */
  border: 2px solid rgba(255, 255, 255, .2); /* BORDE CLARO SEMITRANSPARENTE */
  backdrop-filter: blur(20px); /* FONDO CON EFECTO DESENFOQUE */
  box-shadow: 0 0 10px rgba(0, 0, 0, .2); /* SOMBRA OSCURA SEMITRANSPARENTE */
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.box h1 { 
    font-size: 2em;
    text-align: center;
}

.box .input-box { 
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.box .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.box .input-box input::placeholder {
    color: #fff;
}

.box .input-box i {
    position: absolute;
    right: 20px;
    top: 50%; /* POSICIONA EL ELEMENTO AL 50% DEL PADRE */
    transform: translateY(-50%); /* MUEVE EL ELEMENT -50% DE SU PROPIO TAMAÑO HACIA ARRIBA */
    font-size: 1.5em;
}

.box .remember {
    font-size: 0.8em;
    margin: -10px 0 15px;
}

.box .remember label input {
    margin-right: 3px;
    color: #fff;
}

.box .remember a { 
    color: #fff;
    text-decoration: none;
}

.box button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); /* SOMBRA DEL ELEMENTO, OSCURO CASI TRANSPARENTE */
    cursor: pointer;
    font-size: 1em;
    color: #333;
    font-weight: 600;
    transition: 0.5s; /* CUALQUIER CAMBIO EN EL DISEÑO SE REALIZA EN 0.5 SEGUNDOS EN EFECTO TRANSICION */
}

.box button:hover {
    background: purple;
    color: #fff;
    border: 1px solid #fff;
}

.box .register {
    font-size: 0.9em;
    text-align: center;
    margin: 20px 0 15px;
}

.box .register a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

